body{
    background: rgb(59,104,107);
    background: linear-gradient(90deg, rgba(59,104,107,1) 0%, rgba(47,79,79,1) 100%);
}

nav{
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: solid 3px darkslategray;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 0.8em 0;
    font-family: 'Raleway', sans-serif;
    color:darkslategray;
    
}

main{
    display: flex;
    background-color: coral;
    width: 90%;
    border: 5px solid seagreen;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

img{
    width: 30%;
    background-color: cornflowerblue
    
}